:root {
    /* spacing definitions */
    --gutter-unit-base: 8px;
    --gutter-50: calc(var(--gutter-unit-base) * 0.5);
    --gutter-100: calc(var(--gutter-unit-base) * 1);
    --gutter-200: calc(var(--gutter-unit-base) * 2);
    --gutter-300: calc(var(--gutter-unit-base) * 3);
    --gutter-400: calc(var(--gutter-unit-base) * 4);
    --gutter-500: calc(var(--gutter-unit-base) * 5);
  }
  
  body {
    /* color definitions */
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-gray-dark: #6E8098;
    --color-gray: #9DAEC2;
    --color-gray-light: #F4F6F8;
    --color-midnight: #121721;
    --color-blue-dark: #19202D;
    --color-violet: #5964E0;
    --color-violet-light: #939BF4;
    
    /* typography definitions */
    --font-family-primary: "Kumbh Sans", sans-serif;
    --font-size-unit-base: 16px;
    --font-size-75: calc(var(--font-size-unit-base) * 0.75); /* 12 */
    --font-size-87: calc(var(--font-size-unit-base) * 0.875); /* 14 */
    --font-size-100: calc(var(--font-size-unit-base) * 1); /* 16 */
    --font-size-112: calc(var(--font-size-unit-base) * 1.12); /* 18 */
    --font-size-125: calc(var(--font-size-unit-base) * 1.25); /* 20 */
    --font-size-150: calc(var(--font-size-unit-base) * 1.5); /* 24 */
    --font-size-175: calc(var(--font-size-unit-base) * 1.75); /* 28 */
    --font-weight-thin: 100;
    --font-weight-extra-light: 200;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bold: 600;
    --font-weight-bold: 700;
    --font-weight-extra-bold: 800;
    --font-weight-black: 900;

    /* base body style */
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-regular);
    color: var(--color-midnight);
  }
  
  h1 {
    font-size: var(--font-size-175);
    font-weight: var(--font-weight-bold);
    line-height: 1.21;
  }
  
  h2 {
    font-size: var(--font-size-150);
    font-weight: var(--font-weight-bold);
    line-height: 1.21;
  }

  h3 {
    font-size: var(--font-size-125);
    font-weight: var(--font-weight-bold);
    line-height: 1.2;
  }

  h4 {
    font-size: var(--font-size-87);
    font-weight: var(--font-weight-bold);
    line-height: 1.285;
  }
  
  p {
    margin: var(--gutter-300) 0;
    font-size: var(--font-size-100);
    line-height: 1.625;
  }