.checkbox {
    display: none;
}

@media screen and (min-width: 768px) {
    .checkbox {
        display: flex;
        gap: var(--gutter-200);
        color: var(--color-blue-dark);
    }

    .checkbox__label > span {
        display: none;
    }

    .checkbox__input {
        outline: var(--color-violet);
        background-color: var(--color-gray-light);
        width: 24px;
        height: 24px;
        appearance: none;
        border-radius: 3px;
        cursor: pointer;
    }
    
    .checkbox__input:hover {
        background-color: var(--color-gray);
    }
    
    .checkbox__input:checked {
        background-color: var(--color-violet);
        background-size: 65%;
        background-position: center 60%;
        background-repeat: no-repeat;
        background-image: url('/src/assets/images/icons/icon-check.svg');
    }
    
    .checkbox__label {
        font-weight: var(--font-weight-bold);
    }
}

@media screen and (min-width: 1440px) {
    .checkbox__label > span {
        display: inline;
    }
}